

<div class="row">
    <div class="col text-center">
        <h1 class="display-2 fw-bold text-body-emphasis text-center mt-4 p-4"> Y</h1>
        
        <h1 class="lead mb-4 text-center">Welcome to Y</h1>
       
         <%= link_to "Go to Posts", posts_path, class: "btn btn-primary text-white"%>  
    </div>
    
</div>

