<div class="m-4 border border-primary "> <p>
  <strong>Body:</strong>
  <%= comment.body %>
</p>

<p>
  <strong>User Id:</strong>
  <%= comment.user_id %>
</p> 
</div>
  


<button type="button" class="btn btn-outline-info m-4"><%= link_to "Edit 
comment", edit_post_comment_path(comment.post, comment) %></button>




<button type="button" class="btn btn-outline-secondary m-4">  <%= link_to "Back to Posts", posts_path%>   </button>