<div class="container mt-4">
  <div class="card">
        <div class="card-header text-center">
            <h1 class="card-title"><%= @user.name %></h1>
      
         </div>

        <div class="card-body">
            <p class="card-text"><strong>Email:</strong> <%= @user.email %></p>

            <p class="card-text"><strong>Posts:</strong> </p>
            <% @user.posts.each do |post| %>
            <p class="card-text"> <%= post.title%> </p>
            <% end%>

            <p class="card-text"><strong>Comments:</strong> </p>
            <% @user.comments.each do |comment| %>
            <p class="card-text"> <%= comment.body%> </p>
            <% end%>
        </div>
   </div>
</div>
