<h1 class="m-3" >Tweets</h1>






<div class="row justify-content-center">
    <div class="col-auto">
      <table class="table table-responsive table-bordered">
         <tr>
    <th>Id </th>
    <th>Title </th>
    <th>Comments</th>
      </tr>
<% @posts.order(:id).each do |post| %>
  <tr>
    <td><%= post.id%></td>
    <td><%= link_to post.title, post%></td>
    <td><%= post.comments.count%></td>
    
    
  </tr>
  <% end %>
      </table>
    <%= link_to "New Post", new_post_path, class:"btn btn-outline-primary" %>
    </div>
    
  </div>







